####################################################################################
# docker-compose file for ElDoAr
# created by Jrgn 2022-04-13
#
# ElDoAr is a fulltext searchable Electronic Document Archive written in Perl and Dancer.
# ####################################################################################
#
# version            date              comment
# 1.0                2022-03-13        initial release
# 2.0                2026-02-22        switch to Manticore, BuildKit cache optimization
#
# IMPORTANT: Build with BuildKit for optimized builds
#   export DOCKER_BUILDKIT=1
#   docker-compose build
#
# Benefits of BuildKit:
# - First build: 5-8 minutes (vs ~10-15 without BuildKit)
# - Rebuilds: 20-30 seconds (vs 8-10 minutes without caching)
# - Image size: 650-750MB (vs ~1GB)
# - Persistent cache mount for CPAN modules across builds
####################################################################################

# version: '2.0'

# networks
# create a network 'guacnetwork_compose' in mode 'bridged'
networks:
  eldoar-net:
    driver: bridge

# services
services:
  manticore:
    container_name: eldoar-manticore
    image: manticoresearch/manticore
    networks:
      - eldoar-net
    ports:
      - 13306:3306
      - 19306:9306
      - 19312:9312
      - 19308:9308
    restart: always
    volumes:
    - ./manticore/conf/manticore.conf:/etc/manticoresearch/manticore.conf:Z
    - ./manticore/data:/var/lib/manticore:Z
  sphinx:
    container_name: eldoar-sphinx
    image: jrgn/sphinx-search:2.3.2-jessie
    networks:
      - eldoar-net
    ports:
      - 3306:3306
      - 9306:9306
      - 9312:9312
      - 9308:9308
    restart: always
    volumes:
    - ./sphinx/conf/sphinx.conf:/etc/sphinxsearch/sphinx.conf:ro
    - ./sphinx/data:/var/data:Z
  eldoar:
    container_name: eldoar-app
    image: postarchiv:latest
    build:
      context: ..
      dockerfile: Dockerfile
      tags:
        - postarchiv:latest
    environment:
      SPHINX_HOST: eldoar-sphinx
      OVERVIEW_LIMIT: 9
      OVERVIEW_ORDER: DESC
    links:
      - sphinx
    networks:
      - eldoar-net
    restart: always
    ports:
    - 3002:3000
    volumes:
    - ./eldoar/data:/app/data:Z
    - ./eldoar/import:/app/import:Z

