<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>ELDOAR Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <style type="text/css">
      .fullwidth {
        width:90%;
	max-width: 540px;
      }
      .center {
        margin:auto;
      }
      .nodeco {
        text-decoration: none;
      }
      .img {
        overflow: hidden;
	height: 300px;
      }
  </style>
  <script type="text/javascript">
    function MyDelete (id) {
	console.log(`delete ${id}`);
	var xhttp = new XMLHttpRequest();
	xhttp.open("DELETE", `/file/${id}`, true);
        xhttp.send();
        // xmlHttp.open('DELETE', 'perl.m', true);
        // window.location.href = goto_url;
    }
  </script>
  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col center" align="center">
      <a href="/" class="nodeco">
      <pre>

_______        ______   _____  _______  ______
|______ |      |     \ |     | |_____| |_____/
|______ |_____ |_____/ |_____| |     | |    \_
 
Electronic Document Archive
</pre>
</a>

    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col fullwidth center" align="center">
      <form>
      <div class="form-group">
        <input type="text" class="fullwidth" autofocus="autofocus" id="search" name="search" />
        </div>
        
        <input type="submit" class="btn btn-primary" value="Suche" />
      </form>
<a href="/upload"><pre>Upload</pre></a>
    </div>
  </div>
  [% IF search %]
  <div class="row">
    [% cnt %] Ergebnisse für "[% search %]"
    <ol>
	    [% FOREACH doc IN docs %]
	    <li>
		    <a href='file/[% doc.title %]'>
			    <div class="img"><img src='[% doc.title %].jpg'width=300px /></div>[% doc.title %]
		    </a>
		    <a id="myLink" title="Click to delete" href="#" onclick="MyDelete([% doc.id %]);return false;">delete</a>
	    </li>

	    [% END %]
    </ol>
  </div>
  [% END %]
</div>
</body>
</html>

